/*

Contents
================================

1. Bootstrap Theming
2. Navigation
3. Pages
4. Shared Styles

================================

*/

// 1. Bootstrap Theming
// --------------------------------------------------
.blueimp-gallery {
 .prev, .next {
    border: none;
  }
}


.jumbotron {
  background-color: $brand-primary;
  color: $white;
  padding-top: 16px;
  padding-bottom: 27px;

  h1 {
    font-size: 48px;
  }
}

.modal {
  @include box-shadow(none);
  
  .modal-dialog {
    padding: 70px 0 0;

    img { // Dirty fix - upload resized image with green name and dark grey number
      width: 600px;
    }
  }
}

.panel-default {
  border: none;

   .panel-heading {
    color: $gray-darker;
    background-color: $white;
    border-color: $brand-primary;
    border-width: 5px;
  }
}

.well {
  background-color: $white;
  padding: 5px; 
  margin: 0 15px 10px 0;
  border-color: $gray-darker;
  border-width: 5px;
}

// 2. Navigation
// --------------------------------------------------



.navbar-default {
  @extend .navbar-static-top;
  @extend .container;
  @extend .col-xs-12;

  height: 80px;
  background-color: $white;
  border-bottom: none;

  .navbar-brand {
    padding: 0;

    img { // Dirty fix - upload resized image with green name and dark grey number
      height: 100px;
    }
  }

  .navbar-nav {
    @extend .navbar-right;
    padding-top: 15px;

    li.active {
      a, a:focus, a:hover {
        color: $brand-primary;
        background-color: $white;
      }
    }

    li a {
      font-size: 24px;
      line-height: 1.5em;

      &:hover {
        background-color: $white;
      }
    }

    ul.dropdown-menu {
      @include box-shadow(none);
      li a {
        font-size: 16px;
        color: $black;

        &:hover {
          background-color: $white;
          color: $brand-primary;
          border-bottom: none;
        }
      }
    }
  }
}

.navbar-collapse {
  @media (max-width: $screen-tablet) {
    &.in, &.collapsing {
      background-color: $gray-darker;

      li.active {
        a, a:focus, a:hover {
          color: $brand-primary;
          background-color: $gray-darker;
        }
      }
    }
  }
}

// 3. Pages
// --------------------------------------------------

// Resume

#resume {
  font-family: "Gill Sans", Helvetica, Sans-serif;
  border: solid 1px $gray-darker;
  padding: 25px 50px 50px;
  margin-bottom: 15px;

  h1 {
    border-bottom: solid 2px $gray-darker;
    font-weight: 200; 
  }

  h2 {
    font-weight: 100;
    font-size: 26px;
    margin-bottom: 0;
  }
  
  h3 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
  }

  .resume-content {
    @extend .row;

    .resume-main {
      @include make-md-column(9);
    }

    .resume-side {
      @include make-md-column(3);
      text-align: right;

      ul li {
        list-style-type: none;
      }
    }
  }
}

// Coding Projects Page
.img-row-3 {
  @extend .row;
  margin: 15px 0;
  .img-col {
    @include make-sm-column(4);
    .thumbnail {
      max-height: 200px;
    }
  }
}

// 4. Shared Styles
// --------------------------------------------------

footer {
  background-color: $gray-darker;
  color: $white;
  margin-top: 30px;
  padding: 15px 0;

  a .fa {
    padding-right: 5px;
  }

  p {
    padding-top: 15px;
    line-height: 2em;
  }
}

.img-list {
  @extend .row;
  margin-top: 22px;

  .img-col {
    @include make-sm-column(3);

    .multi-img {
      margin-top: 5px;
    }
  }
  .text-col {
    @include make-sm-column(8.5);
    @include make-sm-column-offset(0.5);

    h2 {
      margin-top: 0px;
    }
  }
  .no-img {
    @include make-sm-column(8.5);
    @include make-sm-column-offset(3.5);
  }
}
