<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">eknelson17</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li {% if page.title == 'eknelson17 | About' %} class="active" {% endif %}><a href="about.html" >About</a></li>
      <li {% if page.title == 'eknelson17 | Resume' %} class="active" {% endif %}><a href="resume.html">Resume</a></li>
      <li class="dropdown {% if page.title == 'eknelson17 | Projects' %} active {% endif %}">
        <a class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="coding.html">Coding</a></li>
          <li><a href="ui.html">User Interface</a></li>
          <li><a href="design.html">Design</a></li>
          <li><a href="photography.html">Photography</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>