
//
// VARIABLES
//

// Colors
$brand-primary: #009933;
$blue: #4183C4; 

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #404040;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Bootstrap variable overrides
$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

$font-size-base: 16px;

$modal-inner-padding: 0;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: $screen-xs-max) {
    @content;
  }
}

@mixin non-mobile {
  @media screen and (min-width: $screen-xs-max) {
    @content;
  }
}