---
layout: default
---

<article class="portfolio">
  <ul class="portfolio-nav">
    <li><a href="{{ site.baseurl }}/portfolio/dev">Software Development Projects</a></li>
    <li><a href="{{ site.baseurl }}/portfolio/ui-design">User Interface Design Projects</a></li>
    <li><a href="{{ site.baseurl }}/portfolio/print-design">Print Projects</a></li>
    <li><a href="{{ site.baseurl }}/portfolio/photography">Photography</a></li>
  </ul>

  <div class="portfolio-main">
    {{ content }}
  </div>
</article>
